/*code from https://www.w3schools.com/html/ and https://www.w3schools.com/css/default.asp */
/* lyrics from https://genius.com/One-direction-strong-lyrics*/
* {
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-family: "Shadows Into Light", cursive;
    text-decoration: none;
    color: #4f6688;
}

body {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #9fa8b1;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
}

.custom-font, .hover-text {
    font-family: "Shadows Into Light", cursive;
    color: #4f6688;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, skew 0.3s ease-in-out, opacity 1.5s ease-in-out;
}

.hover-text:hover {
    font-family: "La Belle Aurore", cursive;
    color: #0a1938;
    transform: scale(10) skew(-45deg);
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.fade-up {
    opacity: 0;
    animation: fadeUp 2.5s ease-out forwards;
}

a {
    text-decoration: none;
    color: inherit;
}
