* {
    margin: 5%;
    padding: 5%;
    font-family: "Shadows Into Light", cursive;
    text-decoration: none;
    color: #4f6688;
}

body {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    text-decoration: none;
    background-color: #9fa8b1;
}

.custom-font {
    font-family: "Shadows Into Light", cursive;
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    color: #4f6688;
}

.hover-text {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #4f6688;
}

.hover-text:hover {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
    color: #0a1938;
    text-decoration: none;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:visited {
    color: inherit; 
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1); 
    }
}

.fade-up {
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

.hover-text {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #4f6688;
    transition: transform 0.8s ease, font-family 0.8s ease; 
}

.hover-text:hover {
    font-family: "La Belle Aurore", cursive;
    color: #0a1938;
    transition: 1s;
    transform: skew(13deg);

}
